#slider3-pager{
    border:1px solid var(--color-orange);
    background: RGBA(255, 156, 8, 0.1);
    font-size: 18px;
    margin: 0 auto;
    padding: 10px 0;
    width: 100%
}

.rslides_tabs li {
    display: inline;
    float: none;
    margin-right: 1px
}

.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: transparent;
    top: 52%;
    left: 0;
    opacity: .7;
    z-index: 3;
    text-indent: -9999px;
    height: 61px;
    width: 38px;
    background: url('../image/themes.gif') left top no-repeat;
    margin-top: -45px
}

.callbacks_nav:active {
    opacity: 1
}

.callbacks_nav.next {
    left: auto;
    background-position: right top;
    right: 0
}

#slider3-pager a {
    display: inline-block;
    padding: 0
}

#slider3-pager img {
    float: left
}

#slider3-pager .rslides_here a {
    border:2px solid #191919 ;
}

#slider3-pager a {
    border:2px solid RGBA(255, 156, 8, 0.1);
}
@media screen and (max-width: 600px) {
    .callbacks_nav {
        top: 47%
    }
}

#slider3-pager img {
    height: 50px;
}