@media only screen and (max-width: 1200px) {
    .prod-image-max-size {
        width: 100% !important;
        height: auto
    }
    .max-width-image {
        width: 90%
    }
    .mob-max-h-280 {
        max-height: 380px
    }
    .prodImageWidth {
        transform: translateY(0) !important;
        top: 0
    }
    .slideShow {
        height: auto !important;
        margin-bottom: 10px
    }
}

@media only screen and (max-height: 420px) {
    .mob-max-h-280 {
        max-height: 280px
    }
}