/*! http://responsiveslides.com v1.55 by @viljamis */

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}


/*######################### SLIDER ADVANCE CHANGES START ####################*/

#slider3{
    border:1px solid var(--color-orange);
    border-bottom: none;
}

#slider3 li {
    height: 330px;
    overflow: hidden;
    text-align: center;
}

#slider4 .prodImageWidth {
    width: auto;
}

@media only screen and (min-width: 768px) {
    #slider3 li .slider_image_width {
        position: relative;;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
    }

    #slider3 li .slider_image_height {
        height: 100%;
    }
}

/*######################### SLIDER ADVANCE CHANGES END ####################*/