#slider3-pager, .callbacks_container ul {
    list-style-type: none
}

#slider3-pager, .filters-table tr td:nth-child(2), .max-width-image {
    text-align: center
}



.rslides li {
    width: 100%
}

.click-modal-image {
    top:0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: 7;
    display: none
}

.close i, .getImage {
    background: #f1f1f1
}

.max-width-image {
    top:0;
    display: none;
    position: fixed;
    margin: 20px auto 0;
    z-index: 999 !important;
    transform: translateX(-50%);
    left: 50%
}

.getImage {
    padding: 35px 10px 15px;
    border-radius: 5px
}

.close {
    right: 0;
    z-index: 999;
    position: absolute;
    top: 10px;
    opacity: .9
}

.close i {
    padding: 5px 7px;
    color: #afafaf;
    border: 1px solid #5a5a5a;
    border-radius: 50%;
    margin-right: 10px
}

.prod-image-max-size {
    width: 950px !important;
    height: 650px;
    text-align: center;
    border: 1px solid #565555;
    background: #edf1f9
}

.prodImageHeight {
    display: inline-block !important;
    width: auto !important;
    height: 650px !important
}

.prodImageWidth {
    height: auto !important;
    transform: translateY(-50%) !important;
    top: 50% !important;
    position: relative !important
}