@charset "utf-8";

/*############# HEADER #################*/

a {
    cursor: pointer;
}

.navbar.bg-orange {
    background: #ff9c08;
    padding: 0;
}

.navbar a {
    color: #fff;
}

.navbar .navbar-brand {
    padding: 8px 15px;
}

.navbar .nav-link:hover, .navbar .dropdown-toggle:hover {
    color: #f1f1f1;
    text-decoration: none;
}

.navbar .navbar-toggler {
    border: 1px solid #eaeaea !important;
    margin-right: 15px;
}

.navbar .dropdown-menu {
    background-color: #ff9c08;
}

.navbar .fa-bars {
    font-size: 20px;
    color: #eaeaea;
}

.bg-orange .nav .open > a, .bg-orange .nav .open > a:focus, .bg-orange .nav .open > a:hover {
    background-color: #ffb100;
    border-color: #ccc;
}


.navbar .dropdown-menu > li > a:focus, .navbar .dropdown-menu > li > a:hover {
    text-decoration: none;
    color: #eaeaea !important;
}

.navbar .dropdown-menu > li > a, .navbar .dropdown-menu > li > a, .navbar .dropdown-menu > li > a:hover, .navbar .dropdown-menu > li > a:hover {
    color: #fff;
}

.dropdown-menu li a {
    padding: 3px 10px 0;
}

.navbar-right .dropdown-toggle {
    margin-right: 25px;
}

.navbar-right .dropdown-toggle:focus, .navbar-right .dropdown-toggle:hover {
    background: transparent;
}

.d-none {
    display: none;
}

/*############# HEADER END #############*/

.p-b-0{
    padding-bottom: 0 !important;
}

.test-div{
    width:30px;
    height:100%;
    position:fixed;
    right:0;
    top:55px;
    overflow:hidden;
    transition:all 100ms;
    z-index:11;
    -webkit-box-shadow: -4px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -4px 1px 5px 0px rgba(0,0,0,0.75);
    background: #eaeaea;
}

.test-div:hover{
    width:40%;
}

.test-pre{
    font-size:12px;
    top:0;
    left:0;
    width:auto;
    height:100%;
    display:block;
    overflow:hidden;
}

.dropdown-menu{
    min-width:18rem !important;
}

pre{
    position:relative;
    z-index:10;
}

.border-1-ccc{
    border: 1px solid #ccc;
}

.m-t-10{
    margin-top:10px;
}

.m-b-5{
    margin-bottom: 5px;
}

/*########## LOGIN #############*/

.adminPanelForm{
    padding:10px;
    border:1px solid #ccc;
    background:#f1f1f1;
    width:300px;
    margin:10px auto;
    border-radius:5px;
    position:relative;
}

.adminPanelSpan{
    width:100%;
    display:block;
    padding:10px 0;
    text-align:center;
    color:#fff;
    border-radius:5px;
    background:red;
    margin-bottom:10px;
}

/*########## LOGIN END #############*/

.btn-group-sm>.btn, .btn-sm{
    padding: 0.10rem .3rem !important;
}










/***************Languages page START *****************/

.lang-div {
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    text-align: center;
    padding: 10px;
    background: #f1f1f1;
    height:270px;
    display: block;
}

.lang-div a, .lang-div a:hover{
    color:#fff;
}

.lang-div a .fa{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.cursor-pointer{
    cursor:pointer;
}

/***************Languages page END *****************/

.p-10{
    padding:10px;
}

.border-radius-5{
    border-radius: 5px;
}

.border-1-ccc{
    border:1px solid #ccc !important;
}

.users-table td, .users-table th{
    padding: 10px 3px !important;
}

.b-r-1-ccc{
    border-right:1px solid #ccc;
}

.filter-left-form{
    width:49%;
    float:left;
    border:1px solid #ccc;
    padding:10px;
    margin-bottom:10px;
}

.filter-full-form{
    width:100%;
    border:1px solid #ccc;
    padding:10px;
    margin-bottom:10px;
}

.filter-right-form{
    width:49%;
    float:right;
    border:1px solid #ccc;
    padding:10px;
    margin-bottom:10px;
}

.overflow-hidden{
    overflow: hidden;
}

.min-height-248{
    min-height:248px;
}