body {
    background-size: cover;
}

:root {
    --color-orange: #ff9c08;
}

a {
    cursor: pointer;
}

.navbar.bg-orange {
    background: var(--color-orange);
    padding: 0;
}

.navbar a {
    color: #fff;
}

.navbar .navbar-brand {
    padding: 8px 15px;
}

.navbar .nav-link:hover, .navbar .dropdown-toggle:hover {
    color: #f1f1f1;
    text-decoration: none;
}

.navbar .navbar-toggler {
    border: 1px solid #eaeaea !important;
    margin-right: 15px;
}

.navbar .dropdown-menu {
    background-color: var(--color-orange);
}

.navbar .fa-bars {
    font-size: 20px;
    color: #eaeaea;
}

.bg-orange .nav .open > a, .bg-orange .nav .open > a:focus, .bg-orange .nav .open > a:hover {
    background-color: #ffb100;
    border-color: #ccc;
}


.navbar .dropdown-menu > li > a:focus, .navbar .dropdown-menu > li > a:hover {
    text-decoration: none;
    color: #eaeaea !important;
}

.navbar .dropdown-menu > li > a, .navbar .dropdown-menu > li > a, .navbar .dropdown-menu > li > a:hover, .navbar .dropdown-menu > li > a:hover {
    color: #fff;
}

.dropdown-menu li a {
    padding: 3px 10px 0;
}

.navbar-right .dropdown-toggle {
    margin-right: 25px;
}

.navbar-right .dropdown-toggle:focus, .navbar-right .dropdown-toggle:hover {
    background: transparent;
}

.d-none {
    display: none;
}

.car_search {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px 15px;
    background: #f3e3bf;
}

.cursor-pointer{
    cursor:pointer;
}

.btn-orange {
    color: #fff;
    background: var(--color-orange);
}

.border-1-orange{
    border: 1px solid var(--color-orange);
}

.b-t-1-ccc{
    border-top:1px solid #ccc;
}

.b-t-0{
    border-top:0;
}

.b-r-1-c{
    border-right:1px solid #ccc;
}

.p-0-20{
    padding: 0 20px;
}

.p-10{
    padding: 10px;
}

.p-15{
    padding:15px;
}

.p-t-15{
    padding-top:15px;
}

.p-b-15{
    padding-bottom:15px;
}

.p-b-5{
    padding-bottom:5px;
}

.p-t-10{
    padding-top: 10px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-t-10{
    margin-top: 10px;
}

.border-1-ccc{
    border:1px solid #ccc;
}

.m-15 {
    margin: 15px;
}

.m-b-10{
    margin-bottom:10px;
}

.m-b-20{
    margin-bottom: 20px;
}

.p-b-15 {
    padding-bottom: 15px;
}

.p-t-15 {
    padding-top: 15px;
}

.bg-light-gray {
    background: #d3d3d3;
    padding: 15px;
}

.m-r-0, .navbar-right .m-r-0 {
    margin-right: 0px;
}

.m-10-0{
    margin:10px 0;
}

.bold{
    font-weight: bold;
}

.check-green{
    color: #008000;
}

#slider3 li{
    background: #f3f3f3;
}

.times-red{
    color: #e74c3c;
}

.add_products{
    text-align: center;
    display: block;
    border:1px solid #f3e3bf;
}

.add_products:hover{
    text-decoration: none;
}

.add_products .fa{
    color: var(--color-orange);
}

.size{
    font-size: 18px;
    font-weight: 500;
    color: coral;
}

.products {
    display: block;
    color: #333;
    margin-bottom: 15px;
    border: 1px solid #f3e3bf;
    padding:10px;
}

.products:last-child {
    margin-bottom: 0;
}

.products:hover{
    text-decoration: none;
}

.product-date {
    font-size: 13px;
    color:#333;
    position: absolute;
    right: 15px;
    cursor:pointer
}

.label-warning {
    background-color: #f0ad4e;
    border-radius:3px;
    padding:3px 5px;
}

#login{
    margin-right:25px;
}

.hover-color-light:hover{
    color: #f1f1f1;
    text-decoration: none;
}

.ContactTextarea{
    display: block;
    width: 100%;
    height:150px;
}

.contact-map{
    min-height:300px !important;
}

.cover{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height:100%;
}



/************* FRONT PAGE **************/



.products-icons-15{
    height:15px;
}

.product-url{
    color:#333;
    display:block;
}

.product-url:hover{
    text-decoration: none;
    color:#666;
}

.all-products-images-div {
    text-align: center;
    border: 1px solid #ccc;
    background: #f3f3f3;
    height: 200px;
    overflow: hidden;
}

.all-products-images-div img{
    max-width: 100%;
}

.prodImageWidth{
    display: flex;
    align-items: center;
}

.prodImageWidth img {
    width: 100%;
}

.h2-product-name{
    font-size: 20px;
    font-weight: 400;
    color:#333;
    display:inline-block;
}

.overflow-hidden{
    overflow: hidden;
}


/*###########INSIDE PAGE #############*/

.accessories_exist{
    padding-bottom: 10px;
}

.user_name{
    border-right: 1px solid #ccc;
}

.user_name, .user_phone, .see-all-ads{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 20px 0;
}

.see-all-ads{
    display: block;
}

.car_name{
    color: #333;
    margin: 0;
    font-size: 32px;
    line-height: 1.2rem;
}

.car_descriotion{
    font-size: 14px;
    line-height: 1rem;
    font-weight: 400;
    text-align: justify;
    margin: 12px 0;
}

.bg-light-range{
    background: RGBA(255, 156, 8, 0.1);;
}


.car_info{
    margin-top:20px;
    border:1px solid #f3e3bf;
}

.analog-cars{
    padding: 20px 0;
    background: #fff5e6;
}


.analog_ads_image{
    height: 150px;
    overflow: hidden;
}

.analog_ads_image .analogImg_width{
    width: 100%;
    margin: 0 auto;
}

.analog_ads_image .analogImg_height{
    width: auto;
    height: 100%;
    margin: 0 auto;
}

/*########### INSIDE PAGE END #############*/

/*############## FOOTER #################*/

.footer, footer {
    position: relative
}

.contactDiv {
    background: #f8f8f8
}

.terms{
    border:1px solid var(--color-orange);
    padding: 20px;
}

.terms h1, footer {
    text-align: center
}

footer {
    width: 100%;
    border-top: 1px solid #e7e7e7;
    background: var(--color-orange);
    color: #fff;
    margin-top: 20px;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left
}

.footer h6 {
    margin-top: 0;
    font-weight:400;
}

.footer {
    max-width: 1170px;
    margin: 0 auto;
    font-size: 11px;
    padding: 20px 0
}

.m-t-25{
    margin-top:25px;
}

.m-t-40{
    margin-top: 40px;
}

.btn-yelow{
    color:#fff;
    background: var(--color-orange);
}

/*################## Personal Info ##################*/


.personal-info p{
    color:var(--color-orange);
    font-size: 25px;
}

.personal-info label{
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    color:var(--color-orange);
}

.center{
    text-align: center;
}

.card{
    position: relative;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 10px;
}


.personal-image{
    position: relative;
}

.personal-image:hover > .hover-delete{
    display: block;
}

.hover-delete{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.7);
    color: var(--color-orange);
    text-align: center;
    padding: 100px;
    cursor: pointer;
    font-weight: bold;

}

/*##################### IMAGES ######################*/

#upload_image, #cars_upload, .cars_upload{
    cursor: pointer;
    display: block;
    text-align: center;
    color: var(--color-orange) !important;
    font-size: 20px;
    padding: 85px 0;
}

#cars_upload, .cars_upload{
    padding: 70px 0;
 }

#image, #cars_images, .multiple-image{
    display: none;
}


/*####### EDIT DELETE #########*/

.imagesDiv, .maps-div, .my-profile-info, .right-block {
    overflow: hidden
}

.imagesDiv {
    width: 150px;
    height: 150px;
    display: inline-block;
    background: #f9f9f9;
    position: relative;
    cursor: pointer;
    border: 1px solid #ccc
}

.imageDeleteButton {
    width: 150px;
    height: 150px;
    color:#fff;
    text-shadow: 0 0 6px #000000;
    text-align: center;
    background: none;
    top: 0 !important;
    position: absolute;
    padding-top: 40%
}

.leftMenuUl li, .messages-a-href, div.imagesDiv:hover > .imageDeleteButton {
    background: rgba(192, 192, 192, .7);
}

.width-100{
    width: 100%;
}

.m-r-0-important{
    margin-right: 0 !important;
}